<div class="articles">
    <div class="articles_group">
        <div style="display:flex;">
            <% if @team %>
            <h1><%= @team.name+"の" %></h1>
            <% end %>
            <% @page_title= @user ? @user.username+"さんのブログ": "記事一覧" %>
            <h1><%= @page_title %></h1>
        </div>
        

        <!--<% if current_user %>
        <div class="toolbar"><%= link_to "ブログ記事の作成", new_article_path %></div>
        <% end %>-->
        <div>
            <% if @articles.present? %>
                <div class="article-box">
                    <% @articles.each do |article| %>
                        <div class="article">
                            <%= link_to article do %>
                                <h2 class="article-title"><%= article.title %></h2>
                                <iframe  src="https://www.youtube.com/embed/<%=article.videoid[32..42]%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <p class="article-body"><%= truncate(article.body, length: 30) %></p>
                            <% end %>
                                <%= render "footer", article: article %>
                        </div>
                    <% end %>
                </div>
                <%= paginate @articles %>
            <% else %>
                <p>記事がありません</p>
            <% end %>
        </div>
    </div>
    <!--<%= render "sidebar" %>-->
</div>