<div class="articles">
    <div class="articles_group">
        <div style="display:flex;">
            <% if @team %>
            <h1><%= @team.name+"の" %></h1>
            <% end %>
            <% @page_title= @user ? @user.username+"さんのブログ": "記事一覧" %>
            <h1><%= @page_title %></h1>
            <select name="select" onChange="location.href=value;" >
              <option value="#">ページを選択してください</option>
              <option value="/articles">全ての記事</option>
              <option value="/teams/1/articles">中日</option>
              <option value="/teams/2/articles">阪神</option>
              <option value="/teams/3/articles">巨人</option>
              <option value="/teams/4/articles">広島</option>
              <option value="/teams/5/articles">ヤクルト</option>
              <option value="/teams/6/articles">横浜</option>
              <option value="/teams/7/articles">ソフトバンク</option>
              <option value="/teams/8/articles">楽天</option>
              <option value="/teams/9/articles">オリックス</option>
              <option value="/teams/10/articles">ロッテ</option>
              <option value="/teams/11/articles">日本ハム</option>
              <option value="/teams/12/articles">西武</option>
            </select>
        </div>
        

        <!--<% if current_user %>
        <div class="toolbar"><%= link_to "ブログ記事の作成", new_article_path %></div>
        <% end %>-->
        <div>
            <% if @articles.present? %>
                <div class="article-box">
                    <% @articles.each do |article| %>
                        <div class="article">
                            <%= link_to article do %>
                                <h2 class="article-title"><%= article.title %></h2>
                                <iframe  src="https://www.youtube.com/embed/<%=article.videoid[32..42]%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <p class="article-body"><%= truncate(article.body, length: 30) %></p>
                            <% end %>
                                <%= render "footer", article: article %>
                        </div>
                    <% end %>
                </div>
                <%= paginate @articles %>
            <% else %>
                <p>記事がありません</p>
            <% end %>
        </div>
    </div>
    <!--<%= render "sidebar" %>-->
</div>